<div class="alltricks-Footer">
  <div class='scan-btn-footer b-left'>
    <% if ["scan", "barcode", "home"].include?(params[:action])%>
      <%= link_to barcode_path do %>
        <i class="fas fa-qrcode active" style="border-bottom: none !important"></i>
        <p class="active">Scan</p>
      <% end %>
    <% else %>
      <%= link_to barcode_path do %>
        <i class="fas fa-qrcode"></i>
        <p>Scan</p>
      <% end %>
    <% end %>
  </div>
   <!-- <div class='scan-btn-footer'>
    <% if ["index"].include?(params[:action])%>
      <%= link_to products_path do %>
        <i class="fas fa-bicycle active" style="border-bottom: none !important"></i>
        <p class="active">Produits</p>
      <% end %>
    <% else %>
      <%= link_to products_path do %>
        <i class="fas fa-bicycle"></i>
        <p>Produits</p>
      <% end %>
    <% end %>
  </div> -->
  <div class='scan-btn-footer b-right'>
    <% if ["new"].include?(params[:action])%>
      <%= link_to new_ticket_path do %>
        <i class="fas fa-concierge-bell active" style="border-bottom: none !important"></i>
        <p class="active">Vendeur</p>
      <% end %>
    <% else %>
      <%= link_to new_ticket_path do %>
        <i class="fas fa-concierge-bell"></i>
        <p>Vendeur</p>
      <% end %>
    <% end %>
  </div>
</div>