<tr class="ticket <%= 'new' if new %>" id="ticket-<%= ticket.id %> ">
  <td><%= ticket.client_identifier %></td>
  <td><%= ticket.section %></td>
  <td><%= ticket.updated_at.strftime("%Hh%M") %></td>
  <td><%= link_to "Clôturer", closed_ticket_path(ticket), class: 'btn btn-primary' %></td>
</div>
