<div class="notification">
<tr class="ticket <%= 'new' if new %>" id="ticket-<%= ticket.id %>">
  <td><%= ticket.client_firstname %></td>
  <td><%= ticket.status %></td>
  <td><%= ticket.section %></td>
  <td><%= link_to "J'y vais", assign_ticket_path(ticket), class: 'btn btn-primary' %></td>
</div>

