<tr class="ticket <%= 'new' if new %>" id="ticket-<%= ticket.id %>">
  <td class="notification"><%= ticket.client_firstname %></td>
  <td><%= ticket.section %></td>
  <td><%= ticket.created_at.strftime("%Hh%M") %></td>
  <td>
    <%= link_to "J'y vais", assign_ticket_path(ticket), class: 'btn btn-primary' %>
    <%= link_to "Plus tard", assign_later_ticket_path(ticket), class: 'btn btn-primary', id: 'action' %>
  </td>