<head>
<script type="text/javascript">
    setTimeout(function(){
      location = ''
    }, 20 *1000) // durée en secondes avant le *
  </script>
</head>

<div class="container">
  <div class="d-flex-lg">
    <div class="card card-ticket">
      <h2 class="ticket-title">Tickets en attente</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Client</th>
            <th>Rayon</th>
            <th>Heure</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody id="tickets" data-store-id="<%= current_user.store.id %>">
          <% @tickets_to_be_assign.each do |ticket| %>
            <%= render 'tickets/ticket', ticket: ticket, new: false %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="card card-ticket">
      <h2 class="ticket-title">Tickets pris par un vendeur</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Client</th>
            <th>Rayon</th>
            <th>Heure</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody id="ticket-show tickets" data-store-id="<%= current_user.store.id %>">
          <% @tickets_assigned_later.each do |ticket| %>
            <%= render 'tickets/ticket_2', ticket: ticket, new: false %>
          <% end %>
        </tbody>
      </table>
      <br>
      <h2 class="ticket-title">Tickets en cours</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Client</th>
            <th>Rayon</th>
            <th>Heure</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody id="ticket-show tickets" data-store-id="<%= current_user.store.id %>">
          <% @tickets_assigned.each do |ticket| %>
            <%= render 'tickets/ticket_2', ticket: ticket, new: false %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card card-ticket reviews">
    <p>
      <strong>Moyenne de l'équipe</strong><br><% @average_rating.to_i.times do %>
        <i class="fas fa-star"></i>
      <% end %>
      <% (5 - @average_rating.to_i).times do %>
        <i class="far fa-star"></i>
      <% end %> sur <span style="color:#008bd2; font-weight: bold"><%= @reviews.count %></span> avis
    </p>
    <p>
      <strong>Nombre de tickets crées :</strong> <%= @count %>
    </p>
      <p>
      <strong>Temps moyen d'un ticket :</strong>
      <% moyenne = [] %>
      <% @tickets_closed.each do |ticket| %>
            <% moyenne << ticket.updated_at - ticket.created_at %>
      <% end %>
      <p>
        <% timing = (moyenne.inject{ |sum, el| sum + el }.to_f / moyenne.size) %>
        <% unless timing.nan? %>
          <%= Time.at(timing).utc.strftime("%M min %S sec") %>
        <% end %>
      </p>
    </p>
  </div>
  <div id="logout">
    <%= link_to'Se déconnecter', destroy_user_session_path, :class => 'logout btn btn-primary', method: :delete %>
  </div>
</div>


<% if user_signed_in? %>
<script>
  if(document.querySelector('.notification') != null) {
    if (Notification.permission !== "denied" && Notification.permission !== "granted") {
      Notification.requestPermission()
    }
    const redirectURL = "https://www.anphibia.com/tickets"
    const yourNotification = new Notification(`👋 Magasin Alltricks de Bron
Un client a besoin de vous ! Si vous êtes disponible positionnez-vous dessus`)
    yourNotification.onclick = () => {
      window.open(redirectURL)
    };
  }
      <%# Notification.requestPermission()
        .then(permisssion => {
            if (permisssion === 'granted') {
                navigator.serviceWorker.ready;
            }
        }).then(() => navigator.serviceWorker.register('service-worker.js'))
        .then(registration => registration.showNotification('👋 magasin Alltricks de Bron', {
            body: 'Un client a besoin de vous, si vous êtes disponible, allez sur l interface vendeur pour vous y positionner',
        }));
        console.log("je suis dans le script") %>
</script>
<% end %>

