<head>
  <script type="text/javascript">
    setTimeout(function(){
      location = ''
    },60000)
  </script>
</head>

<div class="container">
  <div class="d-flex-lg">
    <div class="card card-ticket">
      <h1 style="text-align:center; padding-bottom:25px; padding-top:5px">Tickets en attente</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Client</th>
            <th>Statut</th>
            <th>Rayon</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody id="tickets" data-store-id="<%= current_user.store.id %>">
          <% @tickets_to_be_assign.each do |ticket| %>
            <%= render 'tickets/ticket', ticket: ticket, new: false %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="card card-ticket">
      <h1 style="text-align:center; padding-top: 5px; padding-bottom:25px">Tickets en cours</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Client</th>
            <th>Statut</th>
            <th>Rayon</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody id="ticket-show tickets" data-store-id="<%= current_user.store.id %>">
          <% @tickets_assigned.each do |ticket| %>
            <%= render 'tickets/ticket_2', ticket: ticket, new: false %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card card-ticket reviews">
    <p>
      <strong>Moyenne de l'équipe</strong><br><% @average_rating.to_i.times do %>
        <i class="fas fa-star"></i>
      <% end %>
      <% (5 - @average_rating.to_i).times do %>
        <i class="far fa-star"></i>
      <% end %> sur <span style="color:#008bd2; font-weight: bold"><%= @reviews.count %></span> avis
    </p>
  </div>
  <div id="logout">
    <%= link_to'Se déconnecter', destroy_user_session_path, :class => 'logout btn btn-primary', method: :delete %>
  </div>
</div>

<% if user_signed_in? %>

<% if document.getElementById('ticket_notification')? %>
  <script>
    Notification.requestPermission()
        .then(permisssion => {
            if (permisssion === 'granted') {
                navigator.serviceWorker.ready;
            }
        }).then(() => navigator.serviceWorker.register('service-worker.js'))
        .then(registration => registration.showNotification('👋 My very own notification.', {
            body: 'There are a lot like them, but this one is mine.',
            icon: 'https://avatars3.githubusercontent.com/u/71024224?s=460&u=df4e8dae8630611a570cc7de1aa6ed899fa7a2a4&v=4',
        }));
</script>
<% end %>


<% end %>