<div class="container" style="padding-top: 60px">
  <h1 style="text-align:center; padding-bottom:25px">Tickets en cours</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Client</th>
        <th>Statut du ticket</th>
        <th>Vendeur associé</th>
        <th>Rayon</th>
      </tr>
    </thead>

    <tbody>
      <% @tickets_assigned.each do |ticket| %>
      <tr>
        <td><%= ticket.client_firstname %></td>
        <td><%= ticket.status %></td>
        <td><%= ticket.user.nickname %></td>
        <td><%= ticket.section %></td>
        <td><%= link_to 'Clôturer le ticket', closed_ticket_path(ticket) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <h1 style="text-align:center; padding-bottom:25px; padding-top:60px">Tickets en attente</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Client</th>
        <th>Statut du ticket</th>
        <th>Rayon</th>
      </tr>
    </thead>

    <tbody id="tickets" data-store-id="<%= current_user.store.id %>">
      <% @tickets_to_be_assign.each do |ticket| %>
        <%= render 'tickets/ticket', ticket: ticket, new: false %>
      <% end %>
    </tbody>
  </table>
</div>

