<div class="background-ticket">
  <div class="container p-t">
    <div class="b-ticket">
      <h2 class="form-ticket-text title">Appelez un</h2>
      <h2 class="form-ticket-text title">
        <span style="background: white; color: #008bd2; font-size: 40px; padding: 0px 10px">vendeur</span><br> à la rescousse !
      </h2>
      <br>
      <%= simple_form_for(@ticket) do |f| %>
        <%= f.input :client_identifier, :as => :hidden %>
        <div>
          <p class="form-ticket-text" style="color: white !important">Veuillez indiquer votre rayon :</p>
          <%= f.submit "VTT", class: "btn btn-primary section" %>
          <%= f.submit "Route", class: "btn btn-primary section" %>
          <%= f.submit "Gravel", class: "btn btn-primary section" %>
          <%= f.submit "Electrique", class: "btn btn-primary section" %>
          <%= f.submit "Ville", class: "btn btn-primary section" %>
          <%= f.submit "BMX", class: "btn btn-primary section" %>
          <%= f.submit "Triathlon", class: "btn btn-primary section" %>
          <%= f.submit "Running", class: "btn btn-primary section" %>
          <%= f.submit "Cross training", class: "btn btn-primary section" %>
          <%= f.submit "Outdoor", class: "btn btn-primary section" %>
        </div>
      <% end %>
    </div>
      <div class="button_ticket_scan" style="margin-top: 8.5vh " >
      <%= link_to barcode_path, :class => 'btn btn-primary' do %>
      <i class="fas fa-qrcode"></i><span style="padding-left: 15px ">Scanner un produit</span>
      <% end %>
      <div>
        <a href="https://fr.surveymonkey.com/r/QZFFVSW"><i id="survey-text" class="fas fa-praying-hands"> Donnez votre avis !</i></a>
      </div>
    </div>
  </div>
</div>

