<div class="background-ticket">
  <div class="container" style="padding-top: 85px">
    <div class="b-ticket">
        <h2 class="form-ticket-text title">Appelez un</h2>
        <h2 class="form-ticket-text title"><span style="background: white; color: #008bd2; font-size: 40px">vendeur</span><br> à la rescousse !</h2>
<br><br>
        <%= simple_form_for(@ticket) do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
          <div class="form">
            <%= f.input :client_firstname, label: false, :placeholder => 'Renseignez votre prénom', :label_html => {:class => "form-ticket-text"} %>
          </div>
<hr id="form-line">
          <div class="form">
            <p class="form-ticket-text" style="color: white !important">Vous souhaitez les conseils du spécialiste du rayon:</p>
              <%= f.submit "VTT", class: "btn btn-primary section" %>
              <%= f.submit "Route", class: "btn btn-primary section" %>
              <%= f.submit "Gravel", class: "btn btn-primary section" %>
              <%= f.submit "Electrique", class: "btn btn-primary section" %>
              <%= f.submit "Ville", class: "btn btn-primary section" %>
              <%= f.submit "BMX", class: "btn btn-primary section" %>
              <%= f.submit "Triathlon", class: "btn btn-primary section" %>
              <%= f.submit "Running", class: "btn btn-primary section" %>
              <%= f.submit "Cross training", class: "btn btn-primary section" %>
              <%= f.submit "Outdoor", class: "btn btn-primary section" %>
          </div>
        <% end %>
    </div>
  </div>

