<div id="ticket-show" data-ticket-id="<%= @ticket.id %>">
  <% if @ticket.status == 'En attente' %>
    <div class="container ticket-response p-t">
      <div class="content-t">
        <h1>Nous recherchons un vendeur disponible pour vous aider</h1>
        <div class="loader">
          Loading...
        </div>
      </div>
      <br>
      <div class="timer">
        <span id="time">02:00 </span>
        <script type="text/javascript">
          function startTimer(duration, display) {
            var timer = duration, minutes, seconds;
            setInterval(function () {
              minutes = parseInt(timer / 60, 10);
              seconds = parseInt(timer % 60, 10);
              minutes = minutes < 10 ? "0" + minutes : minutes;
              seconds = seconds < 10 ? "0" + seconds : seconds;
              display.textContent = minutes + ":" + seconds;

              if (--timer <= 0) {
                document.getElementById('time').innerHTML = '<a href="https://www.anphibia.com">Call the Callcenter</a>';
              }
            }, 1000);
          }

          window.onload = function () {
            var twoMinutes = 60 * 2,
            display = document.querySelector('#time');
            startTimer(twoMinutes, display);
          };
        </script>
      </div>
      <div style="padding-top: 5vh">
        <%= link_to 'Annuler', ticket_path(@ticket), method: :delete, :class => 'btn btn-primary' %>
      </div>
    </div>
  <% elsif @ticket.status == 'En cours' %>
    <div class="container ticket-response" style="padding-top: 27vh">
      <div class="content-t">
        <h2>
          Notre vendeur <span style="color:#008bd2; font-weight: 900">pédale</span> à votre rescousse vers le rayon <span style="color:#008bd2; font-weight: 900"> <%= @ticket.section %> </span>
        </h2>
        <div class="biking">
          <img src="https://media.giphy.com/media/l0IsHKjavEvd0ihG0/giphy.gif" alt="">
        </div>
      </div>
    </div>
  <% else %>
    <div class="container ticket-response" style="margin-top: 15vh">
      <div class="content-t">
        <h2>Nous espérons avoir répondu à vos interrogations</h2>
        <h1 style="margin-top: 6vh">Merci</h1>
        <div class="heart" style="margin-top: 43vh"></div>
      </div>
      <div>
        <div class="review" style="margin-top: 22vh">
          <p class="desc" style="font-family: sans-serif; font-size:1.2rem">
            Merci d'évaluer le conseil de votre <span style="color:#008bd2; font-weight:bold;font-size:1.5rem;text-transform: uppercase">vendeur</span>
          </p>
          <%= simple_form_for [@ticket, @review] do |f| %>
            <%= f.input :rating, as: :hidden  %>
            <div class="my-3">
              <% 5.times do |index| %>
                <i id="<%= index + 1 %>" class="review-rating far fa-star"></i>
              <% end %>
            </div>
            <%= f.button :submit, "Valider", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
      <div style="margin-top: 2vh">
        <%= link_to root_path, :class => 'btn btn-primary home' do %>
          <i class="fas fa-home"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>


