<div id="ticket-show" data-ticket-id="<%= @ticket.id %>">
  <% if @ticket.status == 'En attente' %>
    <div class="container ticket-response p-t">
      <div id="blackOverlay" class="blackOverlay"></div>
      <div class="content-t">
        <h1>Nous recherchons un <span class="blue-span">vendeur disponible </span> pour vous aider </h1>
        <div class="loader">
          Loading...
        </div>
      </div>
      <br>
      <div class="timer">
        <span id="time">02:00 </span>
      </div>
      <div class="content-t">
        <h2>
          L'identifiant du ticket est :
          <span class="blue-span" id="myBtn"> <%= @ticket.client_identifier %>
            <span id="myModal" class="popuptext overlay">
              <% if @ticket.client_identifier == 'Ventoux' %>
                <div>
                  <img src="https://d18dnr0ekxokj7.cloudfront.net/actualites-marseille/2020/07/mont-ventoux.jpg" class="popup-img" alt="">
                </div>
                Le mont Ventoux est un sommet situé dans le département français de Vaucluse en région Provence-Alpes-Côte d'Azur. Il culmine à 1 910 mètres et figure régulièrement au Tour de France.
              <% elsif @ticket.client_identifier == 'Lautaret' %>
                <div>
                  <img src="https://www.alpes4ever.com/wp-content/uploads/2016/12/1200px-RN91-Lautaret-France.jpg" class="popup-img" alt="">
                </div>
                Le col du Lautaret est un col situé dans le département des Hautes-Alpes française, à une altitude de 2 057 m. Notamment célèbre pour ses paysages, son jardin botanique alpin et pour le passage du Tour de France.
              <% elsif @ticket.client_identifier == 'Planche des belles filles' %>
                <div>
                  <img src="http://s1.lprs1.fr/images/2019/07/11/8114343_5efece26-a342-11e9-8c4e-5598475a17f6-1.jpg" class="popup-img" alt="">
                </div>
                La Planche des Belles Filles est un sommet du massif des Vosges méridionales culminant à 1 148 mètres d'altitude à la limite entre la Haute-Saône et le Territoire de Belfort, en région Bourgogne-Franche-Comté.
              <% elsif @ticket.client_identifier == 'Tourmalet' %>
                <div>
                  <img src="https://img0.oastatic.com/img2/46222146/600x300r/le-col-du-tourmalet.jpg" class="popup-img" alt="">
                </div>
                Le col du Tourmalet est un col de montagne des Pyrénées centrales françaises, dans le département des Hautes-Pyrénées en région Occitanie. Il est emprunté par la route des cols.
              <% elsif @ticket.client_identifier == 'Galibier' %>
                <div>
                  <img src="https://www.sport-passion.fr/parcours/galibier/photos/ascension-galibier-lautaret.jpg" class="popup-img" alt="">
                </div>
                Le col du Galibier est un col routier des Alpes françaises situé à 2 642 m d'altitude entre les départements de la Savoie au nord et des Hautes-Alpes au sud.
              <% elsif @ticket.client_identifier == "Alpe d'Huez" %>
                <div>
                  <img src="https://magazine.deporvillage.fr/wp-content/uploads/2017/10/alpe-huez-tornante.jpg" class="popup-img" alt="">
                </div>
                l'Alpe d'Huez est une station de sports d'hiver des Alpes située sur les anciens alpages du village d'Huez dans l'Isère à 59 km de Grenoble. Elle est également empruntée chaque année par le Tour de France.
              <% elsif @ticket.client_identifier == 'Aravis' %>
                <div>
                  <img src="https://photos.cols-cyclisme.com/9382.jpg" class="popup-img" alt="">
                </div>
                Le col des Aravis est le col séparant la commune de La Clusaz en Haute-Savoie de celle de La Giettaz en Savoie. Il se trouve à 1 486 m d'altitude.
              <% elsif @ticket.client_identifier == 'Aspin' %>
                <div>
                  <img src="https://www.foretsuspendue.com/wp-content/uploads/2018/01/randonnee-col-d-aspin.jpg" class="popup-img" alt="">
                </div>
                Le col d'Aspin est un col de montagne routier des Pyrénées, situé à 1 493 m dans le département français des Hautes-Pyrénées, en Occitanie. Il est emprunté par la route des cols.
              <% elsif @ticket.client_identifier == 'Croix de Fer' %>
                <div>
                  <img src="https://www.oisans.com/wp-content/uploads/wpetourisme/1373111-diaporama.jpg" class="popup-img" alt="">
                </div>
                Le col de la Croix-de-Fer est un col de montagne situé en France sur la commune de Saint-Sorlin-d'Arves dans le département de la Savoie en région Auvergne-Rhône-Alpes.
              <% elsif @ticket.client_identifier == 'Izoard' %>
                <div>
                  <img src="https://www.alpes4ever.com/wp-content/uploads/2014/08/1200px-Izoard3.jpg" class="popup-img" alt="">
                </div>
                Le col d'Izoard, ou col de l'Izoard, est situé dans les Hautes-Alpes, au nord-ouest du massif du Queyras, à une altitude de 2 362 m. Il relie Briançon, au nord-ouest, à Château-Ville-Vieille, au sud-est.
              <% elsif @ticket.client_identifier == 'Télégraphe' %>
                <div>
                  <img src="https://mescolsetsouvenirsdutourdefrance.fr/ph/telegraphe/mc_telegraphe_1-12.jpg" class="popup-img" alt="">
                </div>
                Le col du Télégraphe à 1 566 mètres d'altitude se situe dans le massif des Cerces. Le fort du Télégraphe à proximité du col profitait pleinement de sa position stratégique au-dessus de la vallée de la Maurienne.
              <% elsif @ticket.client_identifier == 'La Madeleine' %>
                <div>
                  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c6/Col_de_la_Madeleine-_73.JPG/1200px-Col_de_la_Madeleine-_73.JPG" class="popup-img" alt="">
                </div>
                Le col de la Madeleine est un col de montagne situé en Savoie en limites de la commune de Montgellafrey en Maurienne et de la commune de La Léchère, en Tarentaise. À se trouve à 1 993 mètres d'altitude.
              <% elsif @ticket.client_identifier == 'Colombière' %>
                <div>
                  <img src="https://upload.wikimedia.org/wikipedia/commons/f/fe/View_from_Col_de_la_Colombi%C3%A8re.jpg" class="popup-img" alt="">
                </div>
                Le col de la Colombière, culminant à 1 607 mètres, relie les vallées du Grand-Bornand et du Reposoir, situées entre le massif des Bornes au nord-nord-ouest, et la chaîne des Aravis au sud-sud-est.
              <% elsif @ticket.client_identifier == 'Aubisque' %>
                <div>
                  <img src="https://cdt64.media.tourinsoft.eu/upload/Cyclotouristes-au-col-d-Aubisque-001-CDT64-Ziklo.jpg" class="popup-img" alt="">
                </div>
                Le col d'Aubisque est un col de montagne routier des Pyrénées centrales françaises, culminant à 1 709 mètres, au sud-ouest de Tarbes et sud-est de Pau dans le département des Pyrénées-Atlantiques, en région Nouvelle-Aquitaine.
              <% elsif @ticket.client_identifier == 'Soulor' %>
                <div>
                  <img src="https://fichier0.cirkwi.com/image/photo/circuit/800x500/67255/fr/0.jpg?1526645872" class="popup-img" alt="">
                </div>
                Le col du Soulor est un col de montagne routier des Pyrénées françaises s'élevant à 1 471 mètres d'altitude dans le département français des Hautes-Pyrénées, en Occitanie. Il relie la vallée d'Arrens et la vallée de l'Ouzom.
              <% end %>
            </span>
          </span>
        </h2>
      </div>
      <div>
        <%= link_to 'Annuler', ticket_path(@ticket), method: :delete, :class => 'btn btn-primary cancel-btn' %>
      </div>
    </div>
  <% elsif @ticket.status == 'En cours' %>
    <div class="container ticket-response" style="padding-top: 20vh">
      <div class="content-t">
        <h2>
          Notre vendeur <span class="blue-span">pédale</span> à votre rescousse vers le rayon <span class="blue-span"> <%= @ticket.section %> </span>
        </h2>
        <div class="biking">
          <img src="https://media.giphy.com/media/l0IsHKjavEvd0ihG0/giphy.gif" alt="">
        </div>
           <h2>L'identifiant du ticket est : <span class="blue-span"> <%= @ticket.client_identifier %> </span></h2>
      </div>
    </div>

  <% elsif @ticket.status == 'Plus tard' %>
    <div class="container ticket-response" style="padding-top: 20vh">
      <div class="content-t">
        <h2>
          Notre vendeur est en pleine <span class="blue-span">étape</span> avec un autre client. Il se rendra vers vous dès qu'il arrivera au <span class="blue-span">sommet</span>.
        </h2>
        <div class="biking">
          <img src="https://media.giphy.com/media/l0IsHKjavEvd0ihG0/giphy.gif" alt="">
        </div>
           <h2>L'identifiant du ticket est : <span class="blue-span"> <%= @ticket.client_identifier %> </span></h2>
      </div>
    </div>

  <% else %>
    <div class="container ticket-response" style="margin-top: 10vh">
      <div class="content-t">
        <h1 style="font-size: 200%">Merci pour votre <span class="blue-span">confiance </span></h1>
        <div class="heart" style="margin-top: 35vh"></div>
      </div>
      <div>
        <div class="review" style="margin-top: 30vh">
          <h2>Votre <span class="blue-span">avis </span>compte ! <br> Comment s'est passé notre service ?</h2>
          <%= simple_form_for [@ticket, @review] do |f| %>
            <%= f.input :rating, as: :hidden  %>
            <div class="my-3">
              <% 5.times do |index| %>
                <i id="<%= index + 1 %>" class="review-rating far fa-star"></i>
              <% end %>
            </div>
            <div id='review-btn'>
              <%= link_to 'Ne pas noter', root_path, class: 'btn btn-primary pasnoter' %>
              <%= f.button :submit, "Valider", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
      <div id="temporary-survey">
        <p>Une fois sur la page d'accueil pensez à remplir notre questionnaire sur l'application !</p>
      </div>
    </div>
  <% end %>
</div>