<div id="ticket-show" data-ticket-id="<%= @ticket.id %>">

  <% if @ticket.status == 'En attente' %>
    <div class="container ticket-response p-t">
      <div class="content-t">
        <h1>Nous recherchons un <span style="color:#008bd2; font-weight: 900">vendeur disponible </span> pour vous aider </h1>
        <div class="loader">
          Loading...
        </div>
      </div>
      <br>
      <div class="timer">
        <span id="time">02:00 </span>
        <script type="text/javascript">
          function startTimer(duration, display) {
            var timer = duration, minutes, seconds;
            setInterval(function () {
              minutes = parseInt(timer / 60, 10);
              seconds = parseInt(timer % 60, 10);
              minutes = minutes < 10 ? "0" + minutes : minutes;
              seconds = seconds < 10 ? "0" + seconds : seconds;
              display.textContent = minutes + ":" + seconds;

              if (--timer <= 0) {
                document.getElementById('time').innerHTML = '<a href="tel:+33645517408" style= "color: #008bd2 ">Appeler le Callcenter</a>';
              }
            }, 1000);
          }

          window.onload = function () {
            var twoMinutes = 60 * 2,
            display = document.querySelector('#time');
            startTimer(twoMinutes, display);
          };
        </script>
      </div>
      <div class="content-t">
        <h2>L'identifiant du ticket est : <span style="color:#008bd2; font-weight: 900"> <%= @ticket.client_identifier %> </span></h2>
      </div>
      <div style="padding-top: 5vh">
        <%= link_to 'Annuler', ticket_path(@ticket), method: :delete, :class => 'btn btn-primary' %>
      </div>
    </div>

  <% elsif @ticket.status == 'En cours' %>
    <div class="container ticket-response" style="padding-top: 20vh">
      <div class="content-t">
        <h2>
          Notre vendeur <span style="color:#008bd2; font-weight: 900">pédale</span> à votre rescousse vers le rayon <span style="color:#008bd2; font-weight: 900"> <%= @ticket.section %> </span>
        </h2>
        <div class="biking">
          <img src="https://media.giphy.com/media/l0IsHKjavEvd0ihG0/giphy.gif" alt="">
        </div>
           <h2>L'identifiant du ticket est : <span style="color:#008bd2; font-weight: 900"> <%= @ticket.client_identifier %> </span></h2>
      </div>
    </div>

  <% elsif @ticket.status == 'Plus tard' %>
    <div class="container ticket-response" style="padding-top: 20vh">
      <div class="content-t">
        <h2>
          Notre vendeur est en pleine <span style="color:#008bd2; font-weight: 900">étape</span> avec un autre client. Il se rendra vers vous dès qu'il arrivera au <span style="color:#008bd2; font-weight: 900">sommet</span>.
        </h2>
        <div class="biking">
          <img src="https://media.giphy.com/media/l0IsHKjavEvd0ihG0/giphy.gif" alt="">
        </div>
           <h2>L'identifiant du ticket est : <span style="color:#008bd2; font-weight: 900"> <%= @ticket.client_identifier %> </span></h2>
      </div>
    </div>

  <% else %>
    <div class="container ticket-response" style="margin-top: 10vh">
      <div class="content-t">
        <h1 style="font-size: 200%">Merci pour votre <span style="color:#008bd2; font-weight: 900 ">confiance </span></h1>
        <div class="heart" style="margin-top: 35vh"></div>
      </div>
      <div>
        <div class="review" style="margin-top: 30vh">
          <h2>Votre <span style="color:#008bd2; font-weight:900">avis </span>compte ! <br> Comment s'est passé notre service ?</h2>
          <%= simple_form_for [@ticket, @review] do |f| %>
            <%= f.input :rating, as: :hidden  %>
            <div class="my-3">
              <% 5.times do |index| %>
                <i id="<%= index + 1 %>" class="review-rating far fa-star"></i>
              <% end %>
            </div>
            <div id='review-btn'>
              <%= link_to 'Ne pas noter', root_path, class: 'btn btn-primary pasnoter' %>
              <%= f.button :submit, "Valider", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
      <div id="temporary-survey">
        <p>Une fois sur la page d'accueil pensez à remplir notre questionnaire sur l'application !</p>
      </div>
      </div>
    </div>
  <% end %>

</div>


