<div class="container" style="padding-top: 60px">
  <div class="search-form b-search">
    <p style="padding-bottom: 22px">Recherchez parmi <br> nos <span style="background:white; color:#008bd2; font-size: 31px; padding: 0px 10px">200000 références</span></p>
    <%= form_tag products_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Entrez votre recherche"
      %>
      <div class="btn-search-form">
        <%= submit_tag "Rechercher", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <div class="cards-products">
    <% @products.each do |product|  %>
      <% product['skus'].each do |p|%>
        <div class="card-products">
          <img src="https://media.alltricks.com/medium/<%= p['photo'].split('¤')[0] %>" class="card-img-product">
          <div class="card-infos">
            <h4><%= p['Model'] %></h4>
            <div class="card-price">
              <p><%= p['price'] %> €</p>
            </div>
          </div>
        </div>
      <% end %>
    <% end  %>
  </div>
</div>
