<div class="card-img card-img-p">
  <div class="img-product">
    <img src="<%= @html_doc.at('.js-allbox img')['src'] %>" alt="">
    <%= link_to barcode_path do %>
      <i class="fas fa-angle-left"></i>
    <% end %>
  </div>
</div>
<br>
<div class="container b-product">
  <div class="price-field">
    <div>
      <h2><%= @html_doc.search('.heading-title-text').first.text %></h2>
    </div>
    <div class='price'>
      <h2><%= @html_doc.search('.prices').first.text %></h2>
  </div>
  </div>
  <br>
  <div>
    <button id="togg1" class="btn btn-primary">Description du produit<button>
    <div id="d1" style='display:none'>
      <div class="card">
        <p><%= @html_doc.search('.product-description-text').first.text.gsub("PLUS D'INFORMATIONS","") %></p>
      </div>
    </div>
  </div>
  <br>
  <div>
    <div>
      <p class='stars'><%= @html_doc.search('.alltricks-Product-stars--active').first.text %> <%= @html_doc.search('.alltricks-Product-ReviewCounter').first.text.gsub("Soyez le premier à laisser un avis","") %></p>
    </div>
      <% @html_doc.search("[@itemprop= 'review']").each do |element| %>
        <div>
          <p class="comment"><%= element.search("[@itemprop= 'author']").text %> a écrit:</p>
          <div class="card">
            <p>"<%= element.search("[@itemprop= 'description']").text %>"</p>
          </div>
        </div>
        <hr>
      <% end %>
    </div>
    <div class="buttons-product">
        <%= link_to new_ticket_path, :class => 'btn btn-primary' do %>
          <i class="fas fa-concierge-bell"></i><span style="padding-left: 25px">Vendeur</span>
        <% end %>
    </div>
  </div>
</div>
<br>